
.contents{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    
    .contents_inner{
        width: 1200px;

        .box{
            border: 1px solid #f7f7f7;
        }
    }

}