.wrapper{
    display: flex; min-height: 100vh; flex-direction: column;
}

// 헤더영역
.header {
    width: 100%;
    // height: 65px;
    background: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #d9d9d9;
        
        // header_top
        .header_top{
            width: 100%;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #d9d9d9;
            background: #3c3c3c;

            .header_inner{
                width: 1200px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                // top_logo
                h1{
                    width: 150px;
                    color: #a62304;
                    font-size: 1em;
                    margin-right: 60px;

                    .top_logo{
                        width: 100%;
                        text-align: left;

                        img{
                            width: 100%;
                        }
                    }
                }

                .header_user{
                    width: 25%;
                    display: flex;
                    justify-content: flex-end;
                    text-align: right;

                    a{
                        display: flex;
                        font-size: 1em;
                        color: #ffffff;
                        font-weight: 500;
                        margin-right: 15px;
                        
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    i{
                        margin-right: 3px;
                        color: #e83417;
                    }
                }
            }

        }


        .header_menu{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;

            .header_inner{
                width: 1200px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 1px solid #d9d9d9;

                .nav_btn{
                    width: 100%;
                    height: 52px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
    
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 25%;
                        height: 52px;
                        color: #333333;
                        padding: 15px 0 15px 0;
                        font-size: 1.15em;
                        text-align: center;
                        font-weight: 500;
                        box-sizing: border-box;
                        border-right: 1px solid #d9d9d9;
                    }
                    a:hover{
                        height: 50px;
                        padding: 15px 0 14px 0;
                        font-weight: 600;
                        color: #a62304;
                        border-bottom: 3px solid #a62304;
                    }
                    a:last-child{
                        margin-right: 0;
                        border-right: none;
                    }
    
                }
    
    
                // 하위메뉴영역
                /* Dropdown content (hidden by default) */
                .dropdown-content {
                    position: absolute;
                    border-top: 1px solid #d9d9d9;
                    background-color: #ffffff;
                    width: 100%;
                    left: 0;
                    top: 116px;
                    z-index: 5;
                    height: 0;
                    overflow: hidden;
                    transition: 1s; /* transition 효과 3초 */
                    border-bottom: 1px solid #d9d9d9;
                }
                
                /* Show the dropdown menu on hover */
                .nav_btn:hover .dropdown-content {
                    display: block;
                    height: 233px;
                    transition-duration: 0.7s;
                }
    
                .row{
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
    
                .row_div{
                    width: 1200px;
                    display: flex;
                    align-items: flex-start;
                    border-left: 1px solid #d9d9d9;
                    border-right: 1px solid #d9d9d9;
                }
                
                /* Create three equal columns that floats next to each other */
                .dropdown-content .column {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0 15px 0;
                    width: 25%;
                    height: 100%;
                    border-right: 1px solid #d9d9d9;
                }
                .dropdown-content .column:last-child{
                    border-right: none;
                }
                
                /* Style links inside the columns */
                .dropdown-content .column a{
                    float: none;
                    color: #333333;
                    text-decoration: none;
                    display: flex;
                    font-size: 1.1em;
                    padding: 8px 0;
                    margin-right: 0;
                    width: 100%;
                    text-align: center;
                    border-right: none;
                }
                .dropdown-content .column a:hover{
                    color: #a62304;
                    text-decoration: underline;
                    border-bottom: none;
                }
                
                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }

        }

}

// 모바일메뉴
.mobile_menu{
    display: none;
}
.bm-burger-button{
    display: none;
}

// 컨텐츠
.contents{
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;

    .contents_inner{
        width: 1200px;
        padding: 30px 0 50px 0;

        // 로그인
        .login_div{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login_div_inner{
            width: 40%;
            // padding: 80px 40px;
            background: #ffffff;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
        }
        .login_form_div{
            // padding: 10px;

            .login_logo{
                padding: 80px 60px 40px 60px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 250px;
                }
            }

            .login_ipt_div{
                padding: 40px 60px 80px 60px;
                
                .login_form{
                    position: relative;
                    margin-top: 10px;
    
                    label{
                        position: absolute;
                        z-index: 1;
                        height: 45px;
                        line-height: 1.4em;
                        font-size: 1.2em !important;
                        font-weight: 500;
                        padding: 10px 11px;
                    }
        
                    input[type=text]{
                        width: 100%;
                        height: 45px;
                        padding: 10px 11px 10px 35px;
                    }
                    input[type=password]{
                        width: 100%;
                        height: 45px;
                        padding: 10px 11px 10px 35px;
                    }
                }
    
                .btn_div .login_btn{
                    width: 100%;
                    padding: 12px 0;
                    height: auto;
                    border-radius: 30px;
                    border: none;
                    background: rgb(236,109,15);
                    background: linear-gradient(90deg, rgba(236,109,15,1) 0%, rgba(173,36,9,1) 35%, rgba(134,23,3,1) 100%);
                }

                .join_btn_div{
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    a{
                        color: #333;
                        font-size: 1em;
                    }
        
                    span{
                        width: 1px;
                        height: 12px;
                        background: #ddd;
                        display: inline-block;
                        margin: 0 8px;
                    }
                }
            }
            
        }
        
        // 거래하기
        .exchange_div{
            width: 100%;
            display: flex;
            justify-content: center;

            .left_div{
                width: 70.5%;
                margin-right: 1.5%;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                .trad_box{
                    margin-bottom: 15px;
                    background: #ffffff;
                    border: 1px solid #f2f2f2;
                }
                .buy_box{
                    background: #ffffff;
                    border: 1px solid #f2f2f2;

                    .deal_div{
                        padding: 10px;
                    }
                    // 계약시간
                    .timer{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        padding: 10px 20px 30px 20px;

                        // 남은계약시간
                        .ing_deal{
                            display: flex;
                            flex-direction: column;
                        }
                        .ing_deal p{
                            text-align: center;
                            margin-bottom: 5px;
                            font-size: 1.2em;
                        }
                        .ing_deal ul li{
                            display: inline-block;
                            margin-right: 8px;
                            font-size: 2.5em;
                            color: #878787;
                        }
                        .ing_deal ul li span{
                            padding: 0 12px;
                            border-radius: 5px;
                            font-weight: 700;
                            color: #ffffff;
                            background: #878787;
                        }
                        .ing_deal ul li:last-child{
                            margin-right: 0;
                        }

                        // 다음계약시간
                        .next_deal{
                            display: flex;
                            flex-direction: column;
                        }
                        .next_deal p{
                            text-align: center;
                            margin-bottom: 5px;
                            font-size: 1.2em;
                        }
                        .next_deal ul li{
                            display: inline-block;
                            margin-right: 8px;
                            font-size: 2.5em;
                            color: #23a700;
                        }
                        .next_deal ul li span{
                            padding: 0 12px;
                            border-radius: 5px;
                            font-weight: 700;
                            color: #ffffff;
                            background: #23a700;
                        }
                        .next_deal ul li:last-child{
                            margin-right: 0;
                        }
                    }
                    // 매수매도
                    //매수
                    .deal_buy{
                        display: flex;
                        align-items: stretch;
                        justify-content: center;
                    }
                    .buy_ui{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 245px;
                        padding: 6px 10px;
                        border-radius: 4px;
                        background: #d60000;
                    }
                    .buy_ui span{
                        height: 30px;
                        line-height: 28px;
                        padding: 0 5px;
                        border-radius: 3px;
                        color: #d60000;
                        font-weight: 700;
                        background: #ffffff;
                    }
                    .buy_ui button{
                        width: 30px;
                        height: 30px;
                        line-height: 26px;
                        font-size: 1em;
                        font-weight: 700;
                        color: #ffffff;
                        border: 1px solid #ffffff;
                        background: #d60000;
                    }
                    .buy_ui p{
                        width: 120px;
                        font-size: 1.2em;
                        color: #ffffff;
                    }
                    .deal_buy_max{
                        display: flex;
                        flex: 1;
                        margin-left: 5px;
                        padding: 8px 10px;
                        color: #d60000;
                        border: 1px solid #d60000;
                        border-radius: 4px;
                        background: none;
                        font-weight: 700;
                    }
                    //매도
                    .deal_sell{
                        display: flex;
                        align-items: stretch;
                        justify-content: center;
                    }
                    .sell_ui{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 245px;
                        padding: 6px 10px;
                        border-radius: 4px;
                        background: #0042b7;
                    }
                    .sell_ui span{
                        height: 30px;
                        line-height: 28px;
                        padding: 0 5px;
                        border-radius: 3px;
                        color: #0042b7;
                        font-weight: 700;
                        background: #ffffff;
                    }
                    .sell_ui button{
                        width: 30px;
                        height: 30px;
                        line-height: 26px;
                        font-size: 1em;
                        font-weight: 700;
                        color: #ffffff;
                        border: 1px solid #ffffff;
                        background: #0042b7;
                    }
                    .sell_ui p{
                        width: 120px;
                        font-size: 1.2em;
                        color: #ffffff;
                    }
                    .deal_sell_max{
                        display: flex;
                        flex: 1;
                        margin-left: 5px;
                        padding: 8px 10px;
                        color: #0042b7;
                        border: 1px solid #0042b7;
                        border-radius: 4px;
                        background: none;
                        font-weight: 700;
                    }
                    //버튼
                    .sell_del{
                        padding: 8px 20px;
                        font-size: 1.1em;
                        border: 1px solid #666;
                        color: #666666;
                        background: #ffffff;
                        border-radius: 4px;
                    }
                    .buy_ok{
                        padding: 8px 20px;
                        font-size: 1.1em;
                        border: 1px solid #d60000;
                        color: #ffffff;
                        background: #d60000;
                        border-radius: 4px;
                    }
                    .buy_max{
                        padding: 8px 20px;
                        font-size: 1.1em;
                        border: 1px solid #d60000;
                        color: #d60000;
                        background: #ffffff;
                        border-radius: 4px;
                    }
                    .sell_ok{
                        padding: 8px 20px;
                        font-size: 1.1em;
                        border: 1px solid #0042b7;
                        color: #ffffff;
                        background: #0042b7;
                        border-radius: 4px;
                    }
                    .sell_max{
                        padding: 8px 20px;
                        font-size: 1.1em;
                        border: 1px solid #0042b7;
                        color: #0042b7;
                        background: #ffffff;
                        border-radius: 4px;
                    }
                }
            }
            .right_div{
                width: 28%;
                display: flex;
                border: 1px solid #f2f2f2;

                .list_box{
                    width: 100%;
                    background: #ffffff;
                }
            }
        }

        // 입출금
        .deposit_info{
            margin-top: 3px;
            font-size: 0.85em;
            color:#0463c5;
        }
        .deposit_btn{
            margin-top: 10px;

            button{
                margin-right: 5px;
            }
        }
        // 입출금안내
        .info_txt{
            margin-top: 20px;

            p{
                color: red;
                font-weight: bold;
            }
        }

        // 서브페이지
        .sub_div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .sub_menu{
                width: 18%;
                margin-right: 2%;
                display: flex;
                flex-direction: column;
                background: #ffffff;
                border: 1px solid #f2f2f2;

                .lnb_tit{
                    padding: 20px 15px;
                    font-size: 1.2em;
                    // border-bottom: 2px solid #10325c;
                    // color: #10325c;
                    background: #a3a3a3;
                    color: #ffffff;
                    font-weight: 500s;
                }

                ul{
                }
                ul li{
                    padding: 15px 15px;
                    color: #4c4948;
                }
                ul li.active{
                    background-color: #f5f6fa;
                }
                ul li:hover{
                    background-color: #f5f6fa;
                }
                ul li.active a{
                    color: #a62304;
                    font-weight: bold;
                }
                ul li:hover a{
                    color: #a62304;
                    font-weight: bold;
                }
                ul li a{
                    font-size: 1.1em;
                    display: block;
                    color: #4c4948;
                }
        
            }
            .sub_page{
                width: 80%;
                padding: 30px 30px 50px 30px;
                background: #ffffff;
                border: 1px solid #f2f2f2;

                .page_div{
                    margin: 0 0 30px 0;
                }
            }

        }

        // 회원가입
        .signup_div{
            margin: 30px 0 0 0;

            // 약관내용
            .agree_content{
                background: #ffffff;
                border: 1px solid #ddd;
                padding: 20px;

                .agree_txt{
                    padding: 5px;
                    height: 120px;
                    border: 1px solid #ddd;
                    overflow-y: scroll;
                    background: #f5f5f5;
                    margin: 5px 0;

                    ul{
                        margin-top: 10px;
                    }
                }

                .agree_element{
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #ddd;
                }
                .agree_element:last-child{
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: none;
                }

                label{
                    display: flex;
                    align-items: center;
                }
            }
        }

        .btn_div{
            margin-top: 30px;
            text-align: center;
        }
        .top_btn_div{
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;

            select{
                width: 100px;
                margin-right: 5px;
            }
        }

    }

}

// 푸터영역
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #4C4948;

    .footer_inner{
        width: 1200px;
        padding: 30px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        color: #ddd;
        font-size: 0.9em;

        a{
            color: #ddd;
        }

        .footer_left{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .fotter_logo{
                margin-right: 100px;
                width: 150px;
            }

            ul{}

            ul li{
                margin-bottom: 8px;
                font-size: 1em;
            }
            ul li:last-child{
                margin-bottom: 0;
            }
            ul li span{
                width: 1px;
                height: 12px;
                background: #9a9a9a;
                display: inline-block;
                margin: 0 8px;
            }
            ul li a{
                color: #ffffff;
                font-size: 1.2em;
            }
            .company_info{
                display: flex;
                align-items: center;
                height: 12px;
                font-size: 1.1em;
                color: #9a9a9a;
            }
        }

        .footer_right{
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            
            p{
                position: relative;
                text-align: right;
                font-size: 1.8em;
                padding: 0 0 0 25px;

                i{
                    position: absolute;
                    top: 2px;
                    left: 0px;
                }
            }
            a{
                font-size: 1.8em;
            }

        }
    }
}