
.header {
    width: 100%;
    background: darkblue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
        
        .header_inner {
            width: 1200px;
            color: black;
            font-size: 1rem;
            text-align: center;
            padding: 1rem 0;

            .header_menu{
                width: 75%;
                display: inline-block;
                text-align: left;

                a{
                    color: #ffffff;
                    display: inline-block;
                    margin-right: 15px;
                }
            }

            .header_user{
                width: 25%;
                display: inline-block;
                text-align: right;

                a{
                    font-size: 0.8rem;
                    color: #ffffff;
                    display: inline-block;
                    margin-right: 15px;
                }
            }

        }

}