@import './contents.scss';
@import './header.scss';

html{
    font-size: 1rem;
}
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1{font-size: 1rem;}
h2{font-size: 0.8rem;}
h3{font-size: 1.4rem;}
h4{font-size: 1.1rem;}

.tit_01{
    width: 100%;
    border-bottom: 2px solid #dddddd;
    font-weight: 500;
    padding: 0 0 5px 0;
}
.tit_02{
    width: 100%;
    margin-bottom: 10px;
}

form, table{
    width: 100%;
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}

// 테이블스타일
table{
    margin: 15px 0 0 0;
    border-top: 2px solid #666;
    background: #fff;
}
table tr th{
    background: #ddd;
    padding: 10px;
    border-bottom: 1px solid #333;
}
table tr td{
    padding: 10px;
    border-bottom: 1px solid #333;
}

.tb_01{
    width: 100%;
}
.tb_01 tr th{
    width: 11%;
}
.tb_01 tr td{
    width: 39%;
}

.tb_02{
    width: 100%;
    text-align: center;
}

// input 스타일
