@import './contents.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

html{
    font-size: 1rem;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #f8fbfe;
}

h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1{font-size: 1rem;}
h2{font-size: 0.8rem;}
h3{font-size: 1.4rem;}
h4{font-size: 1.1rem;}
em{font-style: normal;}

.tit_01{
    width: 100%;
    border-bottom: 2px solid #dddddd;
    font-weight: 500;
    padding: 0 0 5px 0;
    margin-bottom: 20px;
}
.tit_02{
    width: 100%;
    margin-bottom: 10px;
}

form, table{
    width: 100%;
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}

// 테이블스타일
table{
    border-top: 2px solid #666;
    background: #fff;
}
table tr th{
    background: #f2f2f2;
    padding: 15px 10px;
    border-bottom: 1px solid #333;
}
table tr td{
    padding: 15px 10px;
    border-bottom: 1px solid #333;
}

.tb_01{
    width: 100%;
}
.tb_01 tr th{
    width: 14%;
}
.tb_01 tr td{
    width: 36%;
}
.tb_01 tr td .signup_info{
    margin-top: 3px;
    font-size: 0.7rem;
    color: red;
}
.tb_01 tr td em{
    display: inline-block;
    margin: 0 3px;
}

.tb_02{
    width: 100%;
    text-align: center;
}

.tab_tb{
    margin-top: 0;
    border-top: none;
    font-size: 0.8rem;
    .tb_r{
        text-align: right;
    }
}

// input 스타일
input[type=text]{
    width: 300px;
}
input[type=number]{
    width: 250px;
}
input[type=password]{
    width: 300px;
}
input[type=email]{
    width: 150px;
}
.ip_email{
    margin-right: 5px;
}
input[type=button]{
    margin-left: 5px;
    height: 32px;
}
select{
    width: 150px;
    height: 32px;
}

//tab
.ant-tabs-bar{
    margin-bottom: 0;
}
.ant-tabs-nav{
    width: 100%;
    margin: 0;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    width: 49.999%;
    margin: 0;
    border-radius: 0px;
}

// 폰트컬러
.green_txt{color: #23a700;}
.blue_txt{color: #0052f3;}
.red_txt{color: #f72b38;}