@media (max-width: 1024px) {
    // 헤더영역
    .header{
        display: none;
    }

    // 모바일메뉴
    .mobile_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #10325c;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 2;

        h1 a{
            color: #fff;
        }
    }
    /* Position and sizing of burger button */
    .bm-burger-button {
        display: block;
        position: fixed;
        width: 26px;
        height: 20px;
        right: 15px;
        top: 15px;
    }
    
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: #fff;
    }
    
    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        height: 24px;
        width: 24px;
    }
    
    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
    }
    
    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
        position: fixed;
        height: 100%;
    }
    
    /* General sidebar styles */
    //회원정보
    .bm-menu .user_info01{
        display: flex !important;
        align-items: center;
        padding: 1em 2em;
        border-bottom: 1px solid #0b203a;
        margin-bottom: 0;

        a{
            display: inline-block;
            text-align: left;
            color: #ffffff;
        }
        .name{
            font-size: 1.3em;
            font-weight: 500;
        }
        .out{
            padding: 3px 10px;
            background: #1e497f;
            font-size: 0.95em;
            margin-left: 10px;
        }
    }
    .bm-menu .user_info02{
        display: flex !important;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        border-bottom: 1px solid #0b203a;
        margin-bottom: 0;

        a{
            display: flex !important;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 50%;
            color: #ffffff;
            border-right: 1px solid #1e497f;

            i{
                color: #00fff0;
                margin-right: 3px;
            }
        }
        a:last-child{
            border-right: none;
        }
    }

    .bm-cross-button{
        color: #ffffff;
    }

    .bm-menu {
        background: #10325c;
        font-size: 0.95em;
    }

    // 아코디언메뉴
    .main_menu{
        margin-bottom: 0;
        background-image: url(./img/arrow-drop-right-line.png);
    }
    .main_menu h3{
        padding: 1em 2em;
        border-bottom: 1px solid #0b203a;
        color: #fff;
        font-size: 1.1em;
    }
    // .main_menu h3:after{
    //     content: "";
    // display: inline-block;
    // height: 10px;
    // width: 10px;    
    // margin: 0 3px 0 8px;
    //     background: url(./img/arrow-drop-right-line.png) no-repeat center center;
    // }
    .react-sanfona-item-body-wrapper{
        padding: 0 2.1em;
    }
    .main_menu .sub_menu{
        padding: 1em 0;
        border-bottom: 1px solid #183d6b;
        color: #fff;
        font-size: 1em;
        font-weight: 300;
    }
    
    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #373a47;
    }
    
    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
    }
    .bm-item-list a{
        color: #9cadc3;
        display: block;
    }
    .bm-item-list a:checked{
        color: #00fff0;
    }
    
    /* Individual item */
    .bm-item {
        display: inline-block;
    }
    
    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }

    // 컨텐츠
    .contents{
        margin-top: 50px;

        .contents_inner{
            width: 95%;
            padding: 20px 0 40px 0;

            .sub_div{

                .sub_menu{
                    display: none;
                }
                .sub_page{
                    width: 100%;
                    padding: 15px;
                }

            }
            
            // 회원가입
            .mobile_signup{
                background: #ffffff;
                border: 1px solid #ddd;
                display: flex;
                flex-flow: row wrap;
            }
            .mobile_signup li{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 50%;
                padding: 20px;
                border-bottom: 1px solid #ddd;

                div{
                    display: flex;
                    width: 100%;

                    button{
                        margin-left: 0;
                    }
                    em{
                        margin: 0 5px;
                    }
                }

            }
            .mobile_signup li:nth-child(odd){
                border-right: 1px solid #ddd;
            }
            .mobile_signup li:last-child{
                border-bottom: none;
                border-right: none;
            }
            .mobile_signup li label{
                display: block;
                margin-bottom: 5px;
                font-weight: 500;
                font-size: 0.95em;
            }

            input[type=email]{
                width: 134px;
            }
            select{
                height: 33px;
            }

        }
    }

    // 푸터영역
    .footer{

        .footer_inner{
            width: 95%;
        }

    }

}

@media (max-width: 768px) {
    // 모바일메뉴
    .mobile_menu .menu > div > ul > li{
        font-size: 1rem;
    }

     // 컨텐츠
     .contents{
        margin-top: 50px;

        .contents_inner{
            width: 95%;
            padding: 20px 0 40px 0;

            .sub_div{

                .sub_menu{
                    display: none;
                }
                .sub_page{
                    width: 100%;
                    padding: 15px;
                }

            }
            
            // 회원가입
            .mobile_signup{
                background: #ffffff;
                border: 1px solid #ddd;
                display: flex;
                flex-flow: row wrap;
            }
            .mobile_signup li{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 50%;
                padding: 1em 0.8em;
                border-bottom: 1px solid #ddd;

                div{
                    display: flex;
                    width: 100%;

                    button{
                        margin-left: 0;
                    }
                    em{
                        margin: 0 5px;
                    }
                }

            }
            .mobile_signup li:nth-child(odd){
                border-right: 1px solid #ddd;
            }
            .mobile_signup li:last-child{
                border-bottom: none;
                border-right: none;
            }
            .mobile_signup li label{
                display: block;
                margin-bottom: 5px;
                font-weight: 500;
                font-size: 0.95em;
            }

            input[type=email]{
                width: 100px;
            }

            // 약관
            .signup_div{
                margin-top: 20px;

                .agree_content{
                    padding: 1em 0.8em;
                }

            }

        }
    }

}

@media (max-width: 420px) {
    // 모바일메뉴
    .mobile_menu .menu > div > ul > li{
        font-size: 1rem;
    }

     // 컨텐츠
     .contents{
        margin-top: 50px;

        .contents_inner{
            width: 95%;
            padding: 20px 0 40px 0;

            .sub_div{

                .sub_menu{
                    display: none;
                }
                .sub_page{
                    width: 100%;
                    padding: 15px;
                }

            }
            
            // 회원가입
            .mobile_signup{
                background: #ffffff;
                border: 1px solid #ddd;
            }
            .mobile_signup li{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                padding: 1em 0.8em;
                border-bottom: 1px solid #ddd;

            }
            .mobile_signup li:nth-child(odd){
                border-right: none;
            }
            .mobile_signup li:last-child{
                border-bottom: none;
                border-right: none;
            }

        }
    }
}

@media (max-width: 320px) {
    h1{font-size: 1.2em;}
    h2{font-size: 0.8em;}
    h3{font-size: 1.3em;}
    h4{font-size: 1.2em;}
    h5{font-size: 0.9em; font-weight: 400;}
    p{font-size: 0.9em;}
    table{font-size: 0.8em;}

    // 모바일메뉴
    .mobile_menu .menu > div > ul > li{
        font-size: 1rem;
    }

     // 컨텐츠
     .contents{
        margin-top: 50px;

        .contents_inner{
            width: 95%;
            padding: 20px 0 40px 0;

            .tit_01{
                margin-bottom: 10px;
            }

            .sub_div{

                .sub_menu{
                    display: none;
                }
                .sub_page{
                    width: 100%;
                    padding: 15px;
                }

            }
            
            // 회원가입
            .mobile_signup li{
                padding: 1em 0.5em;

                div{
                    em{
                        margin: 0 2px;
                    }
                }

                .email_ip{
                    input[type=email]{
                        font-size: 0.8em;
                    }
                    select{
                        width: 90px;
                        font-size: 0.8em;
                    }
                }

            }
            
            input[type=email]{
                width: 90px;
            }

            // 약관
            .signup_div{
                margin-top: 15px;

                .agree_content{
                    padding: 1em 0.8em;
                }

            }

        }
    }

}