.pane-legend-item-value-container .pane-legend-item-value-wrap .pane-legend-item-value.pane-legend-line.pane-legend-item-value__main {
    /* display: none; */
    font-size: 13px !important;
  }
  
  .pane-legend-item-value-container .pane-legend-item-value-wrap .pane-legend-item-value-title.pane-legend-line.pane-legend-item-value-title__main {
    /* display: none; */
    font-size: 13px !important;
  }
  
  
  .js-rootresizer__contents .layout__area--center {
    /* width: 900px !important; */
    /* left: 0 !important; */
  }
  
  .js-rootresizer__contents .layout__area--top {
    /* width: 900px !important; */
    /* left: 0 !important; */
  }
  
  .js-rootresizer__contents .layout__area--left {
    /* width: 900px !important; */
    /* left: 0 !important; */
  }
  
  .js-rootresizer__contents .chart-container {
    /* width: 900px !important; */
    /* left: 0 !important; */
  }
  
  .layout__area--top {
    /* width: 900px !important; */
    /* left: 0 !important; */
  }
  
  .layout__area--top .toolbar-2n2cwgp5- {
    padding: 0;
  }
  
  /* 하단 바 */
  .chart-controls-bar {
    /*background-color: rgb(41, 44, 49);*/
    background-color: rgb(18, 22, 31);
  }
  
  /* 상단 바 */
  .toolbar-2n2cwgp5- {
    font-size: 13px;
    /*background-color: rgb(41, 44, 49);*/
    background-color: rgb(18, 22, 31);
  }
  
  .fill-2axUON87-.group-wWM3zP_M- {
    display: none;
  }

  .group-wWM3zP_M- {
    background-color: rgb(26, 34, 40);
  }

  .value-DWZXOdoK- {
    color:rgb(114, 114, 114);
    font-weight: bold;
  }

  .button-2ioYhFEY-.isInteractive-20uLObIc- {
    color:rgb(114, 114, 114);
  }